<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Запрос наличных</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
<div class="form">
    <h3>Запрос наличных</h3>
    <form th:action="@{/atm/get_money}" th:method="POST" th:object="${request}">
        <label for="cardNumber">Номер карты</label>
        <input id="cardNumber" th:field="*{cardNumber}" type="text"/>
        <div style="color:red" th:errors="*{cardNumber}" th:if="${#fields.hasErrors('cardNumber')}">Сard Number Error
        </div>
        <label for="pinCode">Пин-код</label>
        <input id="pinCode" th:field="*{pinCode}" type="password"/>
        <div style="color:red" th:errors="*{pinCode}" th:if="${#fields.hasErrors('pinCode')}">Pin Code Error</div>
        <label for="sum">Запрашиваемая сумма</label>
        <input id="sum" th:field="*{sum}" type="number"/>
        <div style="color:red" th:errors="*{sum}" th:if="${#fields.hasErrors('sum')}">Sum Error</div>
        <button type="submit">Снять наличные</button>
    </form>
    <ul>
        <li><a th:href="@{/atm/get_balance}">Проверить баланс</a></li>
        <li><a th:href="@{/atm/put_money}">Пополнить баланс</a></li>
        <li><a th:href="@{/card/change_pin}">Изменить Пин-код</a></li>
        <li><a th:href="@{/}">Список аккаунтов</a></li>
    </ul>
</div>
</body>
</html>