<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пополнение баланса</title>
</head>
<body>
<form th:method="POST" th:action="@{/atm/put_money}" th:object="${request}">
    <label for="cardNumber">Номер карты</label>
    <input type="text" th:field="*{cardNumber}" id="cardNumber"/>
    <div style="color:red" th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}">Сard Number Error</div>
    <br/>
    <label for="pinCode">Пин-код</label>
    <input type="password" th:field="*{pinCode}" id="pinCode"/>
    <div style="color:red" th:if="${#fields.hasErrors('pinCode')}" th:errors="*{pinCode}">Pin Code Error</div>
    <br/>
    <label for="banknote">Банкнота</label>
    <select th:field="*{banknote}" id="banknote" >
        <option th:each="i : ${banknoteKind}" th:value="${i}" th:text="${i}">
        </option>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('banknote')}" th:errors="*{banknote}">Banknote Error</div>
    <br/>
    <label for="banknoteCount">Количество банкнот</label>
    <input type="number" th:field="*{banknoteCount}" id="banknoteCount"/>
    <div style="color:red" th:if="${#fields.hasErrors('banknoteCount')}" th:errors="*{banknoteCount}">Banknote Count Error</div>
    <br/>
    <input type="submit" name="Пополнить баланс" value="Пополнить баланс">
</form>
<br/>
<ul>
    <li><a th:href="@{/atm/get_balance}">Проверить баланс</a></li>
    <li><a th:href="@{/atm/get_money}">Снять наличные</a></li>
    <li><a th:href="@{/account/change_pin}">Изменить Пин код</a></li>
    <li><a th:href="@{/}">Список аккаунтов</a></li>
</ul>
</body>
</html>