<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пополнение баланса</title>
</head>
<body>
<form th:action="@{/atm/put_money}" th:method="POST" th:object="${request}">
    <label for="cardNumber">Номер карты</label>
    <input id="cardNumber" th:field="*{cardNumber}" type="text"/>
    <div style="color:red" th:errors="*{cardNumber}" th:if="${#fields.hasErrors('cardNumber')}">Сard Number Error</div>
    <br/>
    <label for="pinCode">Пин-код</label>
    <input id="pinCode" th:field="*{pinCode}" type="password"/>
    <div style="color:red" th:errors="*{pinCode}" th:if="${#fields.hasErrors('pinCode')}">Pin Code Error</div>
    <br/>
    <label for="banknote">Банкнота</label>
    <select id="banknote" th:field="*{banknote}">
        <option th:each="i : ${banknoteKind}" th:text="${i}" th:value="${i}">
        </option>
    </select>
    <div style="color:red" th:errors="*{banknote}" th:if="${#fields.hasErrors('banknote')}">Banknote Error</div>
    <br/>
    <label for="banknoteCount">Количество банкнот</label>
    <input id="banknoteCount" th:field="*{banknoteCount}" type="number"/>
    <div style="color:red" th:errors="*{banknoteCount}" th:if="${#fields.hasErrors('banknoteCount')}">Banknote Count
        Error
    </div>
    <br/>
    <input name="Пополнить баланс" type="submit" value="Пополнить баланс">
</form>
<br/>
<ul>
    <li><a th:href="@{/atm/get_balance}">Проверить баланс</a></li>
    <li><a th:href="@{/atm/get_money}">Снять наличные</a></li>
    <li><a th:href="@{/card/change_pin}">Изменить Пин код</a></li>
    <li><a th:href="@{/}">Список аккаунтов</a></li>
</ul>
</body>
</html>